**/__pycache__/
/.coverage
/.idea/
/PyStratum_pgSQL.egg-info/
/bin/phing
/build/
/composer.lock
/dist/
/pystratum_test/etc/columns.txt
/pystratum_test/etc/routines.json
/pystratum_test/html/
/vendor/
